# tplate gitignore

# ignore go build binaries
tplate
tplate.exe

# ignore release tar archives
*.tar.gz

# ignore gox binaries
tplate_darwin_*
tplate_freebsd_*
tplate_linux_*
tplate_netbsd_*
tplate_openbsd_*
tplate_windows_*
